* {
    margin: 0;
    padding: 0;
}


/* 遮幕 */

.overlay {
    width: 100%;
    /* height: 100%; */
    background: #130c0e;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.5;
    display: none;
}


/* 登录窗口 */

.login {
    position: fixed;
    /* position: absolute; */
    background-color: #fff;
    /* margin: 100px auto; */
    width: 350px;
    height: 350px;
    border: 1px solid #ccc;
    /* text-align: center; */
    opacity: 1;
    z-index: 101;
    /* position: relative; */
    top: 20%;
    left: 42%;
    opacity: 0.9;
    /* display: none; */
    border-radius: 5px;
}


/* 大创标题 */

.login-title {
    margin-top: 30px;
    color: #323a45;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "微软雅黑";
}


/* 登录窗口表单 */

.login-form {
    margin: 0 auto;
    margin-top: 20px;
}


/* 关闭按钮 */

.login .close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 30px;
}


/* 关闭按钮图片 */

.login .close img {
    width: 25px;
    height: 25px;
}


/* 输入框外边框 */

.login .input {
    margin: 0 auto;
    margin-top: 20px;
    /* text-align: center; */
    width: 80%;
    height: 40px;
    position: relative;
}


/* 用户头像 */

.user {
    background: url('../svg/user.svg') no-repeat left center;
    background-size: 30px 30px;
}


/* 密码头像 */

.pwd {
    background: url('../svg/lock.svg') no-repeat left center;
    background-size: 30px 30px;
}


/* 用户密码图片位置 */

.icon-position {
    float: left;
    z-index: 1;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 5px;
    left: 10px;
}


/* 用户名和密码输入框位置 */

.input-position {
    padding-left: 10px;
    width: 95%;
}


/* 输入框样式 */

.input-style {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: 微软雅黑, 黑体;
    height: 40px;
}

.login-verify {
    display: inline-block;
    padding-left: 10px;
    width: 45%;
}

.verify-box {
    display: inline-block;
    float: right;
    width: 45%;
    height: 40px;
}

.verify-img {
    width: 100%;
    height: 100%;
}


/* 登录按钮 */

.login .btn {
    background-color: #009ad6;
    width: 82%;
    height: 40px;
    margin: 20px auto;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    letter-spacing: 8px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}


/* 警告 */

.sp {
    position: absolute;
    /* background-color: #ccc; */
    top: 35%;
    right: 0%;
    font-size: 12px;
    /* font-family:"微软雅黑"; */
    /* font-weight: bold; */
    color: red;
    opacity: 1;
    width: 80px;
    height: 20px;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
}
